<%
   if current_user.profile_id == 1 and id != nil
%>

    <div>

      <div class='separator'>
        <h4><%= _("Merge Articles") %></h4>

        <%= form_tag(merge_path(id), method: "post") do %>
            <%= label_tag(:merge_with, "Article ID: ") %>
            <%= text_field_tag(:merge_with) %>
            <%= hidden_field_tag(:parent_id, id) %>
            <%= submit_tag("Merge") %>
        <% end %>

      </div>

    </div>

<% end %>
